<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin Profile</title>
</head>
<body>
<p>
	<form method="POST" th:action="@{/Admin/profile}">
		<table>
			<tr>
				<td>Admin ID: </td>
				<td><p th:text="${admin.id}" th:name="id"></p></td>
			</tr>
			
			<tr>
				<td>Username: </td>
				<td><p th:text="${admin.username}" th:name="userName"></p></td>
			</tr>
			
			<tr>
				<td>Password: </td>
				<td> <input th:value="${admin.password}" th:type="password" th:name="password"/></td>
			</tr>
			
			<tr>
				<td>Confirm Password: </td>
				<td> <input th:value="${admin.password}" th:type="password" th:name="password"/></td>
			</tr>
			
			<tr>
				<td>First Name: </td>
				<td><p th:text="${admin.firstName}" th:name="firstName"></p></td>
			</tr>
			
			<tr>
				<td>Last Name: </td>
				<td><p th:text="${admin.lastName}" th:name="lastName"></p></td>
			</tr>

			<tr>
				<td>Email: </td>
				<td><input th:value="${admin.email}" th:name="email" th:type="text"/></td>
			</tr>
			
			<tr>
				<td>Address: </td>
				<td><input th:value="${admin.address}" th:name="address" th:type="text"/></td>
			</tr>

			<tr>
				<td><button type="submit">Save</button></td>
			</tr>
		</table>
	</form>
</p>
</body>
</html>