<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Client Profile</title>
</head>
<body>
<p>
	<form method="POST" th:action="@{/client/profile}">
		<table>
			<tr>
				<td>Client ID: </td>
				<td><p th:text="${client.id}" th:name="id"></p></td>
			</tr>
			
			<tr>
				<td>Username: </td>
				<td><p th:text="${client.username}" th:name="username"></p></td>
			</tr>
			
			<tr>
				<td>Password: </td>
				<td> <input th:value="${client.password}" th:type="password" th:name="password"/></td>
			</tr>
			
			<tr>
				<td>Confirm Password: </td>
				<td> <input th:value="${client.password}" th:type="password" th:name="password"/></td>
			</tr>
			
			<tr>
				<td>First Name: </td>
				<td><p th:text="${client.firstName}" th:name="firstName"></p></td>
			</tr>
			
			<tr>
				<td>Last Name: </td>
				<td><p th:text="${client.lastName}" th:name="lastName"></p></td>
			</tr>

			<tr>
				<td>Email: </td>
				<td><input th:value="${client.email}" th:name="email" th:type="text"/></td>
			</tr>
			
			<tr>
				<td>Address: </td>
				<td><input th:value="${client.address}" th:name="address" th:type="text"/></td>
			</tr>
			
			<tr>
				<td>Card number: </td>
				<td><input th:value="${client.card}" th:name="card" th:type="text"/></td>
			</tr>

			<tr>
				<td><button type="submit">Save</button></td>
			</tr>
		</table>
	</form>
</p>
</body>
</html>